.flex-container {
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap; 
  flex-flow: row wrap; 
  display: -webkit-box;
  display: flex;
}
.flex-wrap {
  width: 50%;
  margin: auto;
}
.custom-img-responsive {
  display: block;
  max-width: 100%;
  min-width: 100.512px;
  min-height: 109px;
  max-height: 100%;
}
.flex-rows {
  -webkit-align-content: space-around; /* Safari */
  align-content:         space-around;
}
.caption-max-width {
  max-width: 140px;
  min-width: 100px;
  max-height: 140px;
  min-height: 100px;
}
