.sects {
   text-decoration: none;
   text-align: center;
   text-transform: uppercase;
   font-weight: bold;
   font-size: 25px;
   padding: 2%;
   color: #3bb2f7;
   background-color: lightgray;
 }

 #getInvolved a:hover {
  text-decoration: none;
  font-size: 25.5px;
  color: #3bb2f7;
 }

 #getInvolved a:visited {
   color: #3bb2f7;
 }

 #newsHeader {
   color: white;
   text-transform: uppercase;
   font-weight: bold;
   margin-bottom: 2%;
 }

 #newsImages img:hover {
   width: 99%;
   height: 99%;
 }
 /* ------- */
 #newsLetter {
   background-color: #ff8900;
   padding: 3%;
 }
 #signupHeader {
   color: white;
   font-size: 25px;
   text-transform: uppercase;
   font-weight: normal;
 }

 #email {
   width: 47%;
   font-size: 20px;
 }

 #submit {
   text-transform: uppercase;
   font-size: 20px;
   border: solid;
   border-width: thin;
   background-color: inherit;
   color: white;
   font-weight: 900;
 }

 #submit:hover {
   font-size: 20.5px;
 }

 .bold {
   font-weight: 900;
 }

 /* ------- */
 #partnersSponsors {
   padding: 2%;
 }

 #partnersSponsors h1 {
   color: #3bb2f7;
   text-transform: uppercase;
   font-weight: bold;
   margin-bottom: 3%;
 }

 .sponsors {
   height: 100%;
   width: 100%;
 }

#links {
  background-color: lightgray;
  height: 500px;
  border: solid;
  border-width: thick;
  border-color: #333333;
}

#blueCodeSymbols {
  margin-top: -10%;
  margin-bottom: -14%;
  width: 100%;
}

#getInvolved span {
  font-size: 40px;
}
.border-radius-rounded {
  border-radius: 10px;
  padding: 15px;
}
.margin-sides {
  margin-right: 25px;
  margin-left: 25px;
}
.bg-black {
  color: white;
  background-color: black;
}

.bg-lightblue {
  background-color: #CBE3EC;
}
.bg-linkedin {
  background-color: #1982ba;
}
.bg-sky-blue {
  background-color: #83BFD2;
}
.text-white {
  color: white;
}
.padding-small {
  padding: 1%;
}
.padding-medium {
  padding: 2%;
}
.padding-large {
  padding: 3%;
}
.padding-top-small {
  padding-top: 1%;
}
.padding-top-medium {
  padding-top: 2%;
}
.padding-top-large {
  padding-top: 3%;
}
.padding-bot-large {
  padding-bottom: 15%;
}
.padding-sides-small {
  padding-left: 1%;
  padding-right: 1%;
}
.font-large {
  font-size: 18px;
}
.padding-sides-medium {
  padding-left: 2%;
  padding-right: 2%;
}
.padding-sides-large {
  padding-left: 3%;
  padding-right: 3%;
}
.position-absolute {
  position: absolute;
}
.position-relative {
  position: relative;
}
.float-left {
  float: left;
}
.box-sizing {
  width: 70%;
  height: 90%;
}
.test {
  width: 90%;
  height: 80%;
}
.img-center {
  margin:0 auto;
}
.text-italic {
  font-style: italic;
}
.text-navy {
  color: #5e7079;
}
.text-thick {
  font-weight: 900;
}
.border-top {
  border-top: solid;
  border-width: thin;
}
.border-left {
  border-left: solid;
  border-width: thin;
}
.text-black {
  color: black;
}
.text-right {
  text-align: right;
}
