.sects {
   text-decoration: none;
   text-align: center;
   text-transform: uppercase;
   font-weight: bold;
   font-size: 25px;
   padding: 2%;
   color: #3bb2f7;
   background-color: lightgray;
 }

 #getInvolved a:hover {
  text-decoration: none;
  font-size: 25.5px;
  color: #3bb2f7;
 }

 #getInvolved a:visited {
   color: #3bb2f7;
 }

 #newsHeader {
   color: white;
   text-transform: uppercase;
   font-weight: bold;
   margin-bottom: 2%;
 }

 #newsImages img:hover {
   width: 99%;
   height: 99%;
 }
 /* ------- */
 #newsLetter {
   background-color: #ff8900;
   padding: 3%;
 }
 #signupHeader {
   color: white;
   font-size: 25px;
   text-transform: uppercase;
   font-weight: normal;
 }

 #email {
   width: 47%;
   font-size: 20px;
 }

 #submit {
   text-transform: uppercase;
   font-size: 20px;
   border: solid;
   border-width: thin;
   background-color: inherit;
   color: white;
   font-weight: 900;
 }

 #submit:hover {
   font-size: 20.5px;
 }

 .bold {
   font-weight: 900;
 }

 /* ------- */
 #partnersSponsors {
   padding: 2%;
 }

 #partnersSponsors h1 {
   color: #3bb2f7;
   text-transform: uppercase;
   font-weight: bold;
   margin-bottom: 3%;
 }

 .sponsors {
   height: 100%;
   width: 100%;
 }

#links {
  background-color: lightgray;
  height: 425px;
  border: solid;
  border-width: thick;
  border-color: #333333;
}

#blueCodeSymbols {
  margin-top: -10%;
  margin-bottom: -14%;
  width: 100%;
}

#getInvolved span {
  font-size: 40px;
}
.border-radius-rounded {
  border-radius: 10px;
  padding: 15px;
}
.margin-sides {
  margin-right: 25px;
  margin-left: 25px;
}
.bg-black {
  color: white;
  background-color: black;
}

.bg-lightblue {
  background-color: #CBE3EC;
}
.bg-linkedin {
  background-color: #1982ba;
}
.bg-sky-blue {
  background-color: #83BFD2;
}
.text-white {
  color: white;
}
.text-thin {
  font-weight: normal;
}
.padding-medium {
  padding: 25px;
}
.padding-large {
  padding: 30px;;
}
.padding-top-small {
  padding-top: 20px;
}
.padding-top-medium {
  padding-top: 25px;
}
.padding-top-large {
  padding-top: 30px;
}
.padding-top-xlarge {
  padding-top: 50px;
}
.custom-padding-top-large {
  padding-top: 65px;
}
.custom-padding-top-large2 {
  padding-top: 100px;
}
.padding-bot-small {
  padding-bottom: 30px;
}
.padding-bot-medium {
  padding-bottom: 50px;
}
.padding-bot-large {
  padding-bottom: 150px;
}
.padding-sides-small {
  padding-left: 20px;
  padding-right: 20px;
}
.padding-left-small {
  padding-left: 75px;
}
.padding-left-medium {
  padding-left: 150px;
}
.font-large {
  font-size: 18px;
}
.padding-sides-medium {
  padding-left: 25px;
  padding-right: 25px;
}
.padding-sides-large {
  padding-left: 30px;
  padding-right: 30px;
}
.position-absolute {
  position: absolute;
}
.position-relative {
  position: relative;
}
.float-left {
  float: left;
}
.box-sizing {
  width: 70%;
  height: 90%;
}

.img-center {
  margin:0 auto;
}
.text-italic {
  font-style: italic;
}
.text-navy {
  color: #5e7079;
}
.text-thick {
  font-weight: 900;
}
.border-top {
  border-top: solid;
  border-width: thin;
}
.border-left {
  border-left: solid;
  border-width: thin;
}
.border-right {
  border-right: solid;
  border-width: thin;
}
.text-black {
  color: black;
}
.text-right {
  text-align: right;
}
.col-centered {
  float: none;
  margin: 0 auto;
}
.row-centered {
    text-align:center;
}
.img-ourstory {
  max-width: 1000px;
  width: 100%;
  height: auto;
}
.width-max {
  max-width: 800px;
  max-height: auto;
}
.width-social-links {
  max-width: 900px;
}
.no-dots {
  list-style-type: none;
}
.ul-width-custom1 {
  max-width: 170px;
}
.ul-width-custom2 {
  width: 230px;
}
.ul-custom{
  line-height: 2.7;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}
.custome-bottom-img {
  width: 100%;
}
.custom-text-block {
  width: 60%;
}
.kcj-fund-maxwidth {
  max-width: 900px;
}
.kcj-fund-custom-ul {
  text-align: left;
  max-width: 600px;
  list-style-type: circle;
}
.kcj-fund-custom-Support-text {
  text-transform: uppercase;
  padding-top: 10px;
  max-width: 250px;
}
.kcj-fund-custom-box {
  background-color: white;
  text-align: center;
  color: black;
  width: 75%;
  padding: 2%;
}

.kcj-fund-donate:hover {
  color: white;
  background-color: #73c9f4;
}
.custom-ul-faq {
  color: #3bb2f7;
  font-size: large;
  line-height: 200%;
  margin-left: 2%;
  list-style: square;
  list-style-position: inside;
}
.no-bg {
  background: none;
}
.text-normal {
  text-decoration: none;
  font-weight: normal;
  font-family: 'Raleway', sans-serif;
  line-height: 1.6;
  color: black;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
.inactiveLink {
   cursor: default;
}
.custom-panel-text-title {
  font-weight: 900;
  font-family: 'Raleway', sans-serif;
  line-height: 1.6;
  color: black;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
.custom-faq-border {
  border-top: solid;
  border-width: thin;
  border-color: black;
}
.custom-panel-text-title:hover {
  color: #2e8bc2;
}
.custom-dropdown {
  margin: auto;
  text-align: center;
  width: 100px;
}
.custom-resources-text {
  width: 72%;
  margin: auto;
  text-align: center;
}
.custom-select-sercvices {
  border-color: #3bb2f7;
  text-transform: capitalize;
  font-size: large;
  border-width: 2px;
  width: 15%;
}
.custom-filter-btn-resources {
  padding: 3px;
  text-transform: capitalize;
}
.custom-filter-btn-resources:hover {
  color: white;
}
.custom-resources-box {
  height: 200px;
  width: 200px;
  margin: auto;
  text-align: center;
  border: solid;
  border-color: black;
  border-width: 2px;
}
.padding-left-large {
  padding-left: 10px;;
}
.border-bot {
  border-bottom: solid;
  border-width: thin;
}
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}
.img-third {
  margin: auto;
  width: 75%;
}
.custom-max-height {
  height: 100px;
  background-color: orange
}
.bg-custom-blue {
  background-color: #3bb2f7;
  color: white;
}
.map{
  margin-top: 20px;
  border: 12px solid #f3f4f7;
}
.map-s{
  width: 100%;
  height: 450px;
}
.custom-contact-form {
  padding-top: 12px;
  margin: auto;
  max-width: 400px;
}
.padding-bot-xl {
  padding-bottom: 60px;
}
.custom-iframe-sizing {
  width: 100%;
  height: 390px;
}
.ifram-box {
  margin-top: 20px;
  border: 12px solid #f3f4f7;

}
